<h1>Dashboard</h1>
<h3>Name:</h3>
<p>
    <%= current_user.first_name %>
    <%= current_user.last_name %>
</p>
<h3>Number of points:</h3>
<p>
    <%= current_user.points %>
</p>
<%= link_to('View Eligible Rewards', eligible_rewards_path)%>
<br>
<%= link_to('View All Rewards', rewards_path)%>
<br>
<%= link_to('View Events', events_path)%>
<br>
<% if current_user.is_admin %>
  <%= link_to('View All Users', users_path) %>
  <br>
<% end %>

<%= link_to('Logout', logout_path)%>