<%= link_to('<< Back to Reward Details', reward_path(@reward), class: 'bank-link') %>

<div class="event edit">
    <% if !flash.alert.nil?%>
        <h4 class='alert'><%= flash.alert %></h4>
    <% end %>

    <h2>Update Event</h2>

    <%= form_for(@reward) do |r|%>
        <%= render(:partial => 'form', :locals => {:r => r})%>

        <div class="form-button">
            <%= r.submit('Update Event') %>
        </div>
    <% end %>
</div>
