<%= link_to('<< Back to Dashboard', dashboard_path, class: 'back-link') %>

<%# User info %>
<h1>Rewards</h1>
<h2>My Info</h2>
<table>
    <tr>
        <th>Points: </th>
        <td><%= @user.points %>
    </tr>
</table>

<div class="eligible rewards">
    <h2>Eligible Rewards</h2>
    
    <div class="table-responsive">
        <table class="listing" summary="Reward list">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Description</th>
                <th>Points</th>
                <th>Completion</th>
                
                <% if @is_admin %>
                <th>Created At</th>
                <th>Last Updated</th>
                <% end %>
            </tr>
            <% @rewards.each do |r| %>
            <tr>
                <td><%= Reward.stringify_date(r.when) %></td>
                <td><%= r.name %></td>
                <td><%= r.short_description%></td>
                <td><%= r.points_required %></td>
                <td><%= r.percent(@user, dec_digits=0, symbol=true) %></td>
                <% if @is_admin %>
                <td><%= Reward.stringify_date(r.created_at) %></td>
                <td><%= Reward.stringify_date(r.updated_at) %></td>
                <% end %>
                <td><%= link_to("Details", reward_path(r), class: 'action show')%></td>
            </tr>
            <% end %>
        </table>
    </div>

    
</div>