<%= stylesheet_link_tag 'users' %>

<nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <a class="navbar-brand" href="#">
    <i class="far fa-thumbs-up" class="d-inline-block align-top"></i>
    <%# <i class="fas fa-power-off" class="d-inline-block align-top" alt=""></i> %>
    ESC-Point Tracker
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to("Me", dashboard_path, :class => 'nav-link') %>
      </li>
      <li class="nav-item">
        <%= link_to("Users", users_path, :class => 'nav-link') %>
      </li>
      <li class="nav-item">
        <%= link_to("Rewards", rewards_path, :class => 'nav-link') %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/document/d/1B2wrsqT_QTKIzFtdkU_Qh8_g4TNrvY8AIORf2FUIQVc/edit?usp=sharing" target="_blank">Docs</a>
      </li>
      <li class="nav-item">
        <%= link_to('Logout', logout_path, :class => 'nav-link')%>
      </li>
    </ul>
  </div>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to("Users", users_path, :class => 'breadcrumb-item') %>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to("Details", user_path(@user), :class => 'breadcrumb-item') %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
  </ol>
  
</nav>

<div id='smodal' class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm promotion to Admin?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id='modal_text' class="modal-body">
        <p>Are you sure you want to promote <b> <%= @user.first_name%> <%= @user.last_name %></b> to an administrator?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick='approveChange()'>Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="users edit">
      <h2>Update User</h2>

      <%= form_for(@user) do |u| %>

          <%= render(:partial => 'form', :locals => {:u => u}) %>
          
          <%= u.submit("Update User", :class => 'btn btn-secondary') %>

      <% end %>
    </div>
  </div>  
</div>

<script>
  // add onclick behavior to admin selection
  document.getElement
  function confirmChange() {
    console.log('Displaying modal');

    e = document.getElementById('user_is_admin');
    if (e.value === 'true') {
      $('#smodal').modal('show');
      e.value = 'false';
    }
  };

  function approveChange() {
    e.value = 'true';
    $('#smodal').modal('hide');
  }
  
  document.getElementById('user_is_admin').onchange=confirmChange;
  console.log('Done!');
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/08f62176a8.js" crossorigin="anonymous"></script>
