<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users show">
  <h2>Member Details</h2>

  <table summary="User detail view">
    <tr>
      <th>First Name</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th>Username</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Admin</th>
      <td><%= @user.is_admin %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= @user.points %></td>
    </tr>
    <tr>
      <th>Events</th>
      <td><%= @user.events %></td>
    </tr>

  </table>

</div>