<%= link_to('<< Back to Event Details', event_path(@event), class: 'back-link') %>

<div class="event edit">
    <% if !flash.alert.nil?%>
        <h4 class='alert'><%= flash.alert %></h4>
    <% end %>

    <h2>Update Event</h2>

    <%= form_for(@event) do |e|%>
        <%= render(:partial => 'form', :locals => {:e => e})%>

        <div class="form-button">
            <%= e.submit('Update Event') %>
        </div>
    <% end %>
</div>

