<%= stylesheet_link_tag 'signin' %>


<div class="container">
	<!-- Main Content -->
	<div class="container-fluid">
		<% if flash[:alert] %>
		<br>
		<div class="alert alert-danger" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<%= flash[:alert] %>
		</div>
		<% end %>
		<div class="row main-content text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="far fa-thumbs-up"></span></h2></span>
				<h4 class="company_title">ESC Member Point Tracker</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Log In</h2>
					</div>
					<div class="row">
                        <%= form_tag(default_login_path, :method => :post, class: 'form-group') do %>
							<div class="row">
                                <%= text_field_tag(:username, params[:username], placeholder: 'Username', class: 'form__input') %>
							</div>
							<div class="row">
								<!-- <span class="fa fa-lock"></span> -->
                                <%= password_field_tag(:password, '', placeholder: 'Password', class: 'form__input') %>
							</div>
							<div class="row">
                                <%= submit_tag("Log In", class: 'btn') %>
							</div>
                        <% end %>
					</div>
					<div class="row">
                        Don't have an account? &nbsp<%= link_to('Register Here', register_path) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://kit.fontawesome.com/08f62176a8.js" crossorigin="anonymous"></script>