<%= stylesheet_link_tag 'register' %>


	<!-- Main Content -->
	<div class="container-fluid">
        <div class="container">
            <% if flash[:alert] %>
                <br>
                <% flash[:alert].each do |a| %>
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= a %>
                </div>
                <% end %>
            <% end %>
        </div>
		<div class="row main-content bg-success text-center">
			<div class="col-md-4 text-center company__info">
				<span class="company__logo"><h2><span class="far fa-thumbs-up"></span></h2></span>
				<h4 class="company_title">ESC Member Point Tracker</h4>
			</div>
			<div class="col-md-8 col-xs-12 col-sm-12 login_form ">
				<div class="container-fluid">
					<div class="row">
						<h2>Member Registration</h2>
					</div>
					<div class="row">
                        <%= form_for(@user, url: attempt_register_path, method: :post) do |u|%>

                        <div class="row">
                            <%= text_field_tag(:username, params[:username], placeholder: 'Username' , class: 'form__input') %>
                        </div>
                        <div class="row">
                            <%= password_field_tag(:password, '', placeholder: 'Password', class: 'form__input') %> 
                        </div>
                        <div class="row">
                            <%= password_field_tag(:password_confirm, '', placeholder: 'Password Confirm', class: 'form__input') %>
                        </div>
                        <div class="row">
                            <%= u.email_field(:email, placeholder: 'Email', class: 'form__input') %>
                        </div>                        
                        <div class="row">
                            <%= u.text_field(:first_name, placeholder: 'First Name', class: 'form__input') %>
                        </div>                        
                        <div class="row">
                            <%= u.text_field(:last_name, placeholder: 'Last Name', class: 'form__input') %>
                        </div>
                        <div class="row">
                            <%= submit_tag("Register", class: 'btn') %>
                        </div>
                        <% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="https://kit.fontawesome.com/08f62176a8.js" crossorigin="anonymous"></script>